*{
    padding:0px;
    margin:0px;
    font-size:10px;
    font-family: "微软雅黑";
}
@font-face {font-family: 'iconfontyyy';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfontyyy') format('svg');
}
.iconfontyyy{
    font-family:"iconfontyyy" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #fff;
}
.img-responsive{
    width:100%;
}
.btn-orange{
    background: #ef6249;
    border-color:#fff;
    color:#fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:17px 56px;
    font-size: 1.6rem;
}
.btn-orange-two{
    background: #fff;
    border-color:#4c4c4c;
    color:#000;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    padding:4px 25px;
    font-size: 1.6rem;
}
.btn-orange-three{
    background: #ef6249;
    border-color:#ef6249;
    color:#fff;
    border-radius: 48px;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    padding:12px 50px;
    font-size: 1.6rem;
}
.btn-orange-four{
    background: #fff;
    border:2px solid #ef6249;
    color:#000;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    padding:8px 25px;
    font-size: 1.6rem;
}
.btn-orange-five{
    background: #fff;
    border:2px solid #ef6249;
    color:#000;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    padding:8px 40px;
    font-size: 1.6rem;
}
.btn-black{
    background: #fff;
    border:2px solid #333;
    color:#333;
    border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    padding:8px 40px;
    font-size: 1.6rem;
}
.btn-customized{
    background: #ef6249;
    border:2px solid #fff;
    color:#fff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding:10px 70px;
    font-size: 1.8rem;
}

                                                            /*内容页*/
                                                           /*header*/
.header .div-two{
    width:100%;
    height:80px;
    background: #333;
    filter: alpha(opacity=50);
    background-color: rgba(0, 0, 0, 0.5); /*for FF*/
    position: fixed;
    top:0px;
    left:0px;
    z-index: 1000;
}
.header .div-two .list{
    width:1200px;
    margin:0 auto;
    height:80px;
    position: relative;
}
.header .div-two .list .logo-white{
    position: absolute;
    left:0px;
}
.header .div-two .list .logo-white:hover{
    position: absolute;
    animation:myfirst .5s;
    -moz-animation:myfirst .5s; /* Firefox */
    -webkit-animation:myfirst .5s; /* Safari and Chrome */
    -o-animation:myfirst .5s; /* Opera */
}
@keyframes myfirst
{
    0%  { left:0px;}
    25%  { left:10px;}
    75%  { left:-10px; }
    100% {left:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%  { left:0px;}
    25%  { left:10px;}
    75%  { left:-10px; }
    100% {left:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%  { left:0px;}
    25%  { left:10px;}
    75%  { left:-10px; }
    100% {left:0px;}
}

@-o-keyframes myfirst /* Opera */
{
    0%  { left:0px;}
    25%  { left:10px;}
    75%  { left:-10px; }
    100% {left:0px;}
}



.header .div-two .list img{
    padding-top:17px;
    float: left;
}
.header .div-two .list ul{
    float: left;
    padding-left:250px;
}
.header .div-two .list ul a{
    overflow: hidden;
    display: inline-block;
    color:#fff;
    padding:0px 20px;
    font-size: 1.8rem;
    text-decoration: none;
    height:80px;
    line-height:78px;
    margin:0px;
}
.header .div-two .list ul a:hover{
    border-bottom:2px solid #fff;
}
.header .div-two .list ul .active{
    border-bottom:2px solid #fff;
}
.header .div-two .list .tel{
    height:80px;
    width:165px;
    float: right;
}
.header .div-two .list .tel img{
    padding-top:31px;
}
.header .div-two .list .tel em{
    line-height:80px;
    font-size: 20px;
    color:#fff;
    padding-left:5px;
}
                                                        /*产品编号*/
.product-number{
    width:1200px;
    margin:0 auto;
    padding:20px 0px;
}
.product-number span{
    display: inline-block;
    font-size: 1.4rem;
}
.product-number .orange{
    color:#fd5050;
}
                                                        /*产品详情*/
.product-detail{
    overflow: hidden;
}
.product-detail .left,.product-detail .right{
    float: left;
    overflow: hidden;
}
.product-detail .left{
    width:61.66%;
    padding-right:20px;
}
.product-detail .right{
    width:38.34%;
    padding-left:20px;
}
.product-detail .right .volume{
    overflow: hidden;
    position: relative;
}
.product-detail .right .volume div,.product-detail .right .volume ul{
    width:50%;
    float: left;
}
.product-detail .right .volume ul{
    position: absolute;
    top:0px;
    left:40%;
}
.product-detail .right .volume ul li{
    list-style: none;
    cursor: pointer;
    color:#fd5050;
    font-size: 1.4rem;
}
.product-detail .right .div,.product-detail .right .div span,.product-detail .right .volume div,.product-detail .right .volume div span{
    font-size: 1.4rem;
}
.product-detail .right .div .price{
    display: inline-block;
    font-size:3rem;
    font-weight: bold;
    padding-right:5px;
}
.product-detail .right .message{
    margin:15px 0px;
    font-size: 1.4rem;
}
.product-detail .right .time-number{
    width:100%;
    border:2px solid #333;
    padding:15px 20px;
    overflow: hidden;
}
.product-detail .right .time-number div,.product-detail .right .time-number div span{
    font-size: 1.4rem;
}
.product-detail .right .time-number .time{
    margin:10px 0px;
}
.product-detail .right .time-number .time select{
    height:30px;
    width:200px;
    text-align: center;
    background: #f3f5f7;
    border-color:#333;
}
.product-detail .right .time-number .number .span{
    float: left;
    height:80px;
    padding-top:5px;
}
.product-detail .right .time-number .number div{
    float: left;
    height:40px;
}
.product-detail .right .time-number .number div .span-two{
    float: left;
    padding:5px 5px 0px;
    width:55px;
}
.product-detail .right .time-number .number div .man,.product-detail .right .time-number .number div .woman,.product-detail .right .time-number .number div .children{
    float: left;
    height:40px;
    padding-right:10px;
}
.product-detail .right .time-number .number div div div{
    position: relative;
    width:90px;
    height:30px;
    float: left;
    border:1px solid #333;
}
.product-detail .right .time-number .number div div div .reduce,.product-detail .right .time-number .number div div div .add{
    display: inline-block;
    width:29px;
    height:30px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.product-detail .right .time-number .number div div div .reduce{
    position: absolute;
    left:0px;
}
.product-detail .right .time-number .number div div div .add{
    position: absolute;
    right:0px;
}
.product-detail .right .time-number .number div div div .number{
    position: absolute;
    left:30px;
    display: inline-block;
    width:30px;
    height:30px;
    text-align: center;
    padding-top:5px;
}
.product-detail .right .consult .reserve{
    float: right;
    position: relative;
}
.product-detail .right .consult .reserve img{
    position: absolute;
    right:178px;
    top:0px;
    height:58px;
}
.product-detail .right p{
    font-size: 16px;
}
@media screen and (min-width: 1200px) {
    .product-detail{
        width:100%;
    }
    .product-detail .right h2{
        margin:20px 0px;
    }
    .product-detail .right h4{
        font-size: 20px;
    }
    .product-detail .right .div{
        margin:5px 0px;
    }
    .product-detail .right .consult{
        padding:10px 0px;
    }
    .product-detail .right .consult .tel{
        display: inline-block;
        margin-top:5px;
        height:40px;
    }
    .btn-orange{
        padding:8px 56px;
    }
    .product-detail .right .time-number{
        padding:5px 20px;
    }
    .product-detail .right .consult .reserve img{
        height:40px;
    }
}


@media screen and (min-width: 1366px) {
    .product-detail{
        width:94.5%;
    }
    .product-detail .right .div{
        margin:5px 0px;
    }
    .product-detail .right h2{
        margin:20px 0px;
    }
    .product-detail .right h4{
        font-size: 20px;
    }
    .product-detail .right .div{
        margin:5px 0px;
    }
    .product-detail .right .consult{
        padding:20px 0px;
    }
    .product-detail .right .consult .reserve img{
        height:58px;
    }
    .btn-orange{
        padding:17px 56px;
    }
    .product-detail .right .time-number{
        padding:15px 20px;
    }
    .product-detail .right .consult .tel{
        height:46px;
    }
}

@media screen and (min-width: 1600px) {
    .product-detail{
        width:87.5%;
    }
    .product-detail .right h2{
        margin:35px 0px;
    }
    .product-detail .right h4{
        font-size: 20px;
    }
    .product-detail .right .div{
        margin:10px 0px;
    }
    .product-detail .right .consult{
        padding:20px 0px;
    }
    .product-detail .right .consult .reserve img{
        height:58px;
    }
    .btn-orange{
        padding:17px 56px;
    }
    .product-detail .right .time-number{
        padding:15px 20px;
    }
}

@media screen and (min-width: 1920px) {
    .product-detail{
        width: 81.5%;
    }
    .product-detail .right h2{
        margin:40px 0px;
    }
    .product-detail .right h4{
        font-size: 20px;
    }
    .product-detail .right .div{
        margin:15px 0px;
    }
    .product-detail .right .consult{
        padding:30px 0px;
    }
    .product-detail .right .consult .reserve img{
        height:58px;
    }
    .btn-orange{
        padding:14px 56px;
        font-size:2rem;
    }
    .product-detail .right .time-number{
        padding:15px 20px;
    }
    .product-detail .right .consult .reserve img{
        right:193px;
    }
}
                                                                /*行程亮点*/
.highlights{
    width:1200px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}
.highlights .tit{
    text-align: center;
    text-align: -webkit-center;
    margin:50px 0px 30px;
}
.highlights .border-bottom{
    margin:10px auto;
    margin-bottom:30px;
    width:80px;
    border-bottom:2px solid #ef6249;
}
.highlights img{
    display: block;
    margin:0 auto;
}
.highlights .module div{
    width:50%;
    float: left;
}
.highlights .module .left{
    overflow: hidden;
}
.highlights .module .left img:hover{
    transform:scale(1.05,1.05);
    -ms-transform:scale(1.05,1.05); /* IE 9 */
    -moz-transform:scale(1.05,1.05); /* Firefox */
    -webkit-transform:scale(1.05,1.05); /* Safari and Chrome */
    -o-transform:scale(1.05,1.05); /* Opera */
}
.highlights .module .left img{
    moz-transition: all 1s;
     -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
     transition: all 1s;
}
.highlights .module .right{
    position: relative;
    height:450px;
    background: #ef6249;
    color:#fff;
}
.highlights .module .right .left-top{
    position: absolute;
    top:15px;
    left:15px;
}
                                                                        /*行程说明*/
.explain .module .right h2{
    margin-top:30px;
}
.explain .module .right h4{
    font-size: 1.5rem;
    margin:20px 0px;
}
.explain .module .right p{
    font-size: 1.5rem;
    line-height:25px;
}
.explain .module .right span{
    position: absolute;
    bottom:20px;
    left:285px;
    display: inline-block;
}
.explain .module .right span i{
    font-size: 3rem;
}
.explain .module .right .active{
    width:100%;
    padding:10px 30px;
    z-index:100;
    background: #f1f2f4;
}
.explain .module .right .height{
    height:125px;
    overflow:hidden;
}
.explain .module-two .right{
    color:#333;
    background: #f1f2f4;
}
.explain .module-two .prompt{
    color:#f1715b;
}
.explain .module-two span i{
    color:#f1715b;
}

                                                                    /*费用详情、预定须知*/
.expense-details{
    width:100%;
    overflow: hidden;
}
.expense-details .tit{
    width:1200px;
    margin: auto;
}
.expense-details .tit div{
    float: left;
    width:50%;
    margin:50px 0px;
}
.expense-details .tit .left{
    padding-left:400px;
}
.expense-details .tit .right{
    padding-left:100px;
}
.expense-details .tit div span{
    font-size: 25px;
    cursor: pointer;
}
.expense-details .tit div .active{
    color:#ef6249;
}
.expense-details .background{
    width:100%;
    background: #eff1f3;
    margin-top:130px;
}
.expense-details .background .detail{
    width:1200px;
    margin:auto;
    padding:50px 0px;
    color:#000;
    position: relative;
}
.expense-details .background .detail .top{
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #eff1f3;
    position: absolute;
    top:-30px;
    left:400px;
}
.expense-details .background .notice{
    display: none;
}
.expense-details .background .notice .top{
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #eff1f3;
    position: absolute;
    top:-30px;
    left:auto;
    right:400px;
}
.expense-details .background .detail p{
    font-size: 15px;
}
                                                                        /*沿途风光*/
.scenery .scenery-relative{
    width:1000px;height:625px;margin:30px auto;overflow:hidden;position: relative;
}
.scenery .scenery-relative div{
    position: absolute;
    left:0px;
    bottom:0px;
    height:60px;
    line-height:60px;
    width:1000px;
    margin-left:100px;
    padding:0px 30px;
    background:rgba(0,0,0,.5);
    color:#fff;
}
.scenery .scenery-relative div span{
    float: right;
}
.scenery .content{
    width:1000px;height:625px;margin:0px auto;overflow:hidden;position: relative;
}
.scenery .content .slider .absolute{
    position:absolute;
    left:0px;
    bottom:0px;
    height:60px;
    line-height:60px;
    width:1000px;
    padding:0px 30px;
    background:rgba(0,0,0,.5);
    color:#fff;
}
                                                                        /*私人定制*/
.customized{
    width:100%;
    background: #ef6249;
    margin:60px 0px 50px 0px;
    padding:50px 0px;
    color:#fff;
    text-align: center;
    text-align: -webkit-center;
}
.customized h1{
    margin:0px 0px 30px 0px;
}
.customized h3{
    margin-top:0px;
    color:#fff;
}
.customized .btn{
    margin-top:20px;
}
                                                                        /*产品问题*/
.problem .problem-detail{
    width:100%;
    border: 1px solid #666;
    padding:30px 50px;
}
.problem .problem-detail .issue{
    position: relative;
    width:400px;
    padding-left:400px;
    margin: auto;
}
.problem .problem-detail .issue .btn{
    position: absolute;
    top:0px;
    right:0px;
}
.problem .problem-detail .issue .form-control{
    position: absolute;
    top:1px;
    right:143px;
    height:56px;
    width:300px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-radius: 0px;
    border-color:#e1e1e1;
}
.problem .new{
    margin-top:100px;
    border-bottom:1px solid #e1e1e1;
    padding-bottom:15px;
    margin-bottom:30px;
}
.problem .new span{
    display: inline-block;
    font-size: 1.6rem;
    color:#ef6249;
    padding:0px 5px;
    cursor: pointer;
}
.problem .problem-detail .answer{
    overflow: hidden;
    padding-bottom:15px;
}
.problem .problem-detail .answer .div1{
    float:left;
    width:48%;
}
.problem .problem-detail .answer .div2{
    float:right;
    width:48%;
}
.problem .problem-detail .answer .div1 div,.problem .problem-detail .answer .div2 div{
    float: left;
}
.problem .problem-detail .answer .div1 .zan,.problem .problem-detail .answer .div2 .zan{
    width:40px;
}
.problem .problem-detail .answer .div1 .zan i,.problem .problem-detail .answer .div2 .zan i{
    font-size: 40px;
    color:#999;
    cursor: pointer;
}
.problem .problem-detail .answer .div1 .zan .active,.problem .problem-detail .answer .div2 .zan .active{
    color:#ef6249;
}
.problem .problem-detail .answer .div1 .zan span,.problem .problem-detail .answer .div2 .zan span{
    display: block;
    text-align: center;
    text-align: -webkit-center;
    font-size: 1.4rem;
}
.problem .problem-detail .answer .div1 .wenti,.problem .problem-detail .answer .div2 .wenti{
    padding:10px;
    width:400px;
}
.problem .problem-detail .answer .div1 .wenti h4,.problem .problem-detail .answer .div2 .wenti h4{
    color:#333;
}
.problem .problem-detail .answer .div1 .wenti p,.problem .problem-detail .answer .div2 .wenti p{
    font-size: 1.6rem;
    color:#999;
    white-space:nowrap;/*强制文本在一行内显示*/
    text-overflow:ellipsis; /*溢出省略号，支持ie、safari（webkit）*/
    -o-text-overflow:ellipsis; /*溢出省略号，支持opera*/
    overflow:hidden;/*溢出隐藏*/
    /*-moz-binding:url('ellipsis.xml#ellipsis');溢出省略号，支持firefox*/
}
.problem .problem-detail .answer .div1 .time,.problem .problem-detail .answer .div2 .time{
    width:80px;
    float: right;
    padding-top:17px;
}
.problem .problem-detail .answer .div1 .time p,.problem .problem-detail .answer .div2 .time p{
    font-size: 1.6rem;
    color:#999;
}
.problem .problem-detail .more{
    display: block;
    padding-top:30px;
    border-top:1px solid #eff1f3;
    text-decoration: none;
    text-align: center;
    text-align: -webkit-center;
    font-size: 20px;
    color:#ef6249;
}
.problem .problem-detail .more p{
    font-size: 20px;
}


                                                      /*浮动定位导航*/
.left-aside{
    position: fixed;
    top:300px;
    left:13%;
    width:100px;
    height:404px;
    display: none;
}
.left-aside div{
    height:80px;
    margin-bottom:1px;
    background: #333;
    color:#fff;
    font-size: 18px;
    padding:12px 30px;
    cursor: pointer;
}
.left-aside div:hover{
    background: #ef6249;
}
.left-aside .active{
    background: #ef6249;
}
                                                          /*首页*/
                                                        /*企业简介*/
.index-company-profile{
    position: relative;
    width:100%;
}
.index-company-profile .mask{
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
}
.index-company-profile h2{
    color:#fff;
    position: absolute;
    top:20%;
    left:55%;
    z-index: 500;
}
.index-company-profile .profile{
    color:#fff;
    height:500px;
    width:500px;
    position: absolute;
    top:30%;
    left:55%;
    z-index: 500;
    font-size: 20px;
    line-height:50px;
}
                                                            /*旅拍线路*/
.index-line{
    background: #fff;
    width:100%;
    overflow: hidden;
    padding:70px 0px 40px;
}
.index-line .center{
    width:1220px;
    margin:auto;
}
.index-line .center h2{
    color:#000;
    margin-top:0px;
    margin-bottom:50px;
}
.index-line .center h2,.index-line .center .place-name{
    text-align: center;
    text-align: -webkit-center;
}
.index-line .center .place-name .active{
    background: #ef6249;
    color:#fff;
    border-color:#ef6249;
}
.index-line .center .place-name .btn-orange-two{
    margin:0px 5px;
}
.index-line .center .place-name .btn-orange-two:hover{
    background: #ef6249;
    color:#fff;
    border-color:#ef6249;
}
.index-line .center .left{width:588px;}
.index-line .center .right{width:631px;}
.index-line .center .left,.index-line .center .right{
    float:left;
    padding:40px 10px;
}
.index-line .center .right .right-bottom{
    overflow: hidden;
    width:100%;
    margin-top:20px;
}
.index-line .center .right .right-bottom div{
    float: left;
    width:296px;
    height:186px;
}
.index-line .center .right .right-bottom .right-two{
    float: right;
}
.index-line .relative-line{
    position: relative;
}
.index-line .relative-line-one div{
    width:568px;height:568px;background:rgba(239,98,73,0.7);position: absolute;top:0px;right:0px;
}
.index-line .relative-line-one h2{
    position: absolute;top:40%;left:0px;right:0px;color:#fff;
}
.index-line .relative-line-one .btn{
    position: absolute;top:50%;left:0px;right:0px;border-color:#fff;width:200px;margin:auto;background:rgba(239,98,73,0.7);
}
.index-line .relative-line-two div{
    width:611px;height:362px;background:rgba(239,98,73,0.7);position: absolute;top:0px;right:0px;
}
.index-line .relative-line-two h2{
    position: absolute;top:37%;left:0px;right:0px;color:#fff;
}
.index-line .relative-line-two .btn{
    position: absolute;top:55%;left:0px;right:0px;border-color:#fff;width:180px;margin:auto;background:rgba(239,98,73,0.7);
}
.index-line .relative-line-three div{
    width:296px;height:186px;background:rgba(239,98,73,0.7);position: absolute;top:0px;right:0px;
}
.index-line .relative-line-three h2{
    position: absolute;top:25%;left:0px;right:0px;color:#fff;
}
.index-line .relative-line-three .btn{
    position: absolute;top:55%;left:0px;right:0px;border-color:#fff;width:150px;margin:auto;padding:10px 20px;background:rgba(239,98,73,0.7);
}
.index-line .relative-line div,.index-line .relative-line h2,.index-line .relative-line .btn{
    display:none;
}
.index-line .center h3{
    text-align: center;
    text-align: -webkit-center;
    color:#000;
}
.index-line .center a{text-decoration: none;}
.index-line .center h3 span{
    font-size: 20px;
}
                                                            /*慢旅行*/
.index-travel{
    width:100%;
    background: #333;
    overflow: hidden;
    padding-bottom:30px;
}
.index-travel .tit{
    background: #ef6249;
    width:177px;
    font-size: 30px;
    color:#fff;
    padding:15px 40px;
    text-align: center;
    text-align: -webkit-center;
    margin:auto;
}
.index-travel .recommended-circuit{
    width:1260px;
    margin: auto;
    padding:30px 0px;
    overflow: hidden;
}
.index-travel .recommended-circuit .left{
    float: left;
    width:560px;
    padding:0px 30px;
}
.index-travel .recommended-circuit .right{
    float: right;
    width:700px;
    padding:0px 30px;
    color:#fff;
}
.index-travel .recommended-circuit .right h2{
    margin:40px 0px 30px;
    font-weight: 100;
}
.index-travel .recommended-circuit .right h3{
    font-weight: 100;
}
.index-travel .recommended-circuit .right p{
    font-size: 15px;
    color:#cbcbcb;
    margin:25px 0px;
}
.index-travel .recommended-circuit .right .time-zan div{
    font-size: 16px;
}
.index-travel .recommended-circuit .right .time-zan .time{
    width:50%;
    float: left;
}
.index-travel .recommended-circuit .right .time-zan .zan{
    width:50%;
    float: right;
    text-align: right;
    text-align: -webkit-right;
}
.index-travel .recommended-circuit .right .time-zan .zan span{
    font-size: 16px;
    padding-left:5px;
}
.index-travel .recommended-circuit .right .btn-orange-three{
    margin-top:30px;
}
.index-travel .circuit{
    width:1234px;
    margin:auto;
    overflow: hidden;
}
.index-travel .circuit a{
    overflow: auto;
    text-decoration: none;
}
.index-travel .circuit .circuit-item{
    float: left;
    width:25%;
    padding:0px 17px;
}
.index-travel .circuit .circuit-item .img{
    overflow: hidden;
}
.index-travel .circuit .circuit-item .background{
    background: #fff;
    padding:30px 0px;
}
.index-travel .circuit .circuit-item .background h3{
    margin:0px;
    color:#000;
    text-align: center;
    text-align: -webkit-center;
}
.index-travel .circuit .circuit-item .background .btn-orange-four{
    display: block;
    margin: auto;
    width:120px;
    margin-top:20px;
}
.index-travel .circuit .circuit-item .background .btn-orange-four:hover{
    background: #ef6249;
    color:#fff;
}
.index-travel .circuit .circuit-item:hover{
    transform:scale(1.02,1.02);
    -ms-transform:scale(1.02,1.02); /* IE 9 */
    -moz-transform:scale(1.02,1.02); /* Firefox */
    -webkit-transform:scale(1.02,1.02); /* Safari and Chrome */
    -o-transform:scale(1.02,1.02); /* Opera */
}
.index-travel .circuit .circuit-item .img img{
    moz-transition: all 3s;
    -webkit-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}
.index-travel a{
    text-decoration: none;
}
.index-travel .whole{
    color:#fff;
    text-align: center;
    text-align: -webkit-center;
    margin-top:35px;
}
.index-travel h3 span{
    font-size: 16px;
}
                                                            /*旅拍作品*/
.index-works{
    position: relative;
}
.index-works .absolute{
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    width:1320px;
    margin: auto;
    overflow: hidden;
    height:920px
}
.index-works .absolute h2{
    text-align: center;
    text-align: -webkit-center;
    color:#fff;
    margin:70px 0px 50px;
}
.index-works .absolute div{
    float: left;
    width:33.3333%;
    padding:0px 10px;
    margin-bottom:20px;
}
.index-works .absolute a{
    text-decoration: none;
}
.index-works .absolute h3{
    text-align: center;
    text-align: -webkit-center;
    color:#fff;
    position: absolute;
    bottom:35px;
    left:0px;
    right:0px;
}
.index-works .absolute h3 span{
    font-size: 16px;
}
.index-works .works{
    position: relative;
}
.index-works .works div{
    position: absolute;
    top:0px;
    left:10px;
    width:421px;
    height:316px;
    background: rgba(0,0,0,0.5);
    display:none;
}
.index-works .works .lg{
    display: block;
    position: absolute;
    top:120px;
    left:0px;
    right:0px;
    text-align: center;
    text-align: -webkit-center;
    font-size: 24px;
    color:#fff;
    display:none;
}
.index-works .works .sm{
    display: block;
    position: absolute;
    top:160px;
    left:0px;
    right:0px;
    text-align: center;
    text-align: -webkit-center;
    font-size: 16px;
    color:#fff;
    display:none;
}
                                                            /*线路回顾*/
.index-review{
    width:1240px;
    margin:auto;
    overflow: hidden;
    padding-bottom:100px;
    position: relative;
}
.index-review a{
    text-decoration: none;
    color:#333;
}
.index-review h2{
    margin:70px 0px 40px;
    text-align: center;
    text-align: -webkit-center;
}
.index-review .review{
    float:left;
    width:33.33333%;
    padding:0px 20px;
}
.index-review .review:hover{
    transform:scale(1.02,1.02);
    -ms-transform:scale(1.02,1.02); /* IE 9 */
    -moz-transform:scale(1.02,1.02); /* Firefox */
    -webkit-transform:scale(1.02,1.02); /* Safari and Chrome */
    -o-transform:scale(1.02,1.02); /* Opera */
}
.index-review .review img{
    moz-transition: all 3s;
    -webkit-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}
.index-review .review .background{
    background:#fff;
    padding:30px;
    overflow: hidden;
}
.index-review .review .background h3{
    margin:0px;
}
.index-review .review .background .time-zan{
    overflow: hidden;
    color:#666;
    margin:20px 0px;
}
.index-review .review .background .time-zan .time{
    width:50%;
    float: left;
    font-size: 16px;
}
.index-review .review .background .time-zan .zan{
    width:50%;
    float: right;
    text-align: right;
    text-align: -webkit-right;
    font-size: 16px;
}
.index-review .review .background .time-zan .zan span{
    color:#ef6249;
    font-size: 16px;
}
.index-review .review .background p{
    color:#999;
    font-size: 16px;
    line-height:25px;
    height:125px;
    overflow: hidden;
}
.index-review .review .background .height{
    height:175px;
}
.index-review .review .background .btn-orange-five{
    display: block;
    width:150px;
    margin:auto;
    margin-top:40px;
}
.index-review .review .background .btn-orange-five:hover{
    color:#fff;
    background: #ef6249;
}
.index-review a{
    text-decoration: none;
}
.index-review .h3{
    text-align: center;
    text-align: -webkit-center;
    position: absolute;
    bottom:10px;
    left:0px;
    right:0px;
    color:#333;
}
                                                                    /*列表页*/
.list-group{
    width:1000px;
    margin:auto
}
.list-group a{
    text-decoration: none;
    color:#333;
    font-size: 16px;
}
.list-group .line{
    padding-top:40px;
}
.list-group .line h3{
    display: inline;
    margin:0px;
    width:50%;
}
.list-group .line .name{
    width:10%;
    float: right;
    text-align: right;
    text-align: -webkit-right;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
.list-group .line .name div{
    background: #fff;
    position: absolute;
    top:40px;
    right:0px;
    width:80px;
    text-align: center;
    text-align: -webkit-center;
    border:1px solid #eee;
    padding-top:10px;
    display:none;
}
.list-group .line .name div li{
    list-style: none;
    padding:5px 0px;
    font-size: 16px;
}
.list-group .line div span{
    font-size: 16px;
}
.list-group .item{
    margin-top:25px;
    border-top:2px solid #333;
    cursor: pointer;
    width:1000px;
    overflow: hidden;
}
.list-group .item div{
    height:625px;
    overflow: hidden
}
.list-group .item img:hover{
    transform:scale(1.05,1.05);
    -ms-transform:scale(1.05,1.05); /* IE 9 */
    -moz-transform:scale(1.05,1.05); /* Firefox */
    -webkit-transform:scale(1.05,1.05); /* Safari and Chrome */
    -o-transform:scale(1.05,1.05); /* Opera */
}
.list-group .item img{
    moz-transition: all 3s;
    -webkit-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}



.list-group .item h2,.list-group .item h4{
    text-align: center;
    text-align: -webkit-center;
}
.list-group .item h2{
    margin-top:40px;
}
.list-group .item h4{
    margin-bottom:30px;
}
.list-group .item .detail{
    margin:20px 0px;
}
.list-group .item p{
    text-align: center;
    text-align: -webkit-center;
    font-size: 15px;
}
.list-group .item p span{
    font-size: 30px;
    font-weight: bold;
    color:#000;
}
.list-group .item .btn-black{
    display: block;
    width:160px;
    margin: auto;
}
.list-group .item .btn-black:hover{
    color:#333;
}
.list-group .more{
    margin-top:30px;
    margin-bottom:50px;
    border:2px solid #333;
    height:150px;
    line-height:150px;
    text-align: center;
    font-size: 18px;
}







                                                                 /*footer*/
.footer{
    width:100%;
    background:#333333;
    height:300px;
    margin-top:40px;
}
.footer .center{
    width:1100px;
    margin:auto;
}
.footer .center ul{
    float: left;
    padding-right:80px;
    margin-top:50px;
}
.footer .center ul li{
    list-style: none;
    line-height:30px;
}
.footer .center ul .white{
    color:#fff;
    padding-bottom:10px;
    font-size: 15px;
}
.footer .center ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.footer .center ul li a:hover{
    color:#fd5050;
}
.footer .center div{
    float: right;
    margin-top:30px;
}
.footer .center div img{
    width:180px;
}
.footer-two{
    width:100%;
    height:110px;
    background: #1b1b1b;
    padding-top:30px;
}
.footer-two div{
    text-align: center;
    color:#fff;
    line-height:30px;
}

